aiofiles
cloudpickle
datasets>=2.18.0
einops
flax[all]
gcsfs
jax[tpu] --no-deps
jaxlib
ml_collections
optax
requests
sentencepiece
torch --index-url https://download.pytorch.org/whl/cpu
tqdm
transformers>=4.43
absl-py